expense-agent-.json
{
  "createdAt": "2025-05-29T05:37:19.562Z",
  "updatedAt": "2025-05-31T01:34:50.000Z",
  "id": "Id1NS0Vxu4LuHReH",
  "name": "Expense Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -940,
        -520
      ],
      "id": "b4e1ba33-f12b-4860-902a-544a2dd0f34c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Today is {{ $today }}. Analyze the following user query: \"{{ $('When Executed by Another Workflow').item.json.query }}\"\n\nThe user wants to manage expenses. You have two tools available:\n1.  **Create Record**: Use this tool to add a new expense to Google Sheets.\n2.  **MCP Client**: Use this tool to generate an expense report from Google Sheets.\n\nBased on the user's query, determine which tool is more appropriate.\n\nIf the query involves adding, logging, or inputting a new expense (e.g., \"spent $10 on lunch,\" \"add a new receipt,\" \"新增一筆交通費\"), choose \"Create Record\".\nIf the query involves asking for a summary, overview, or list of expenses (e.g., \"show me last month's expenses,\" \"generate a report for May,\" \"查詢本月支出\"), choose \"MCP Client\". Passing as many information as to the MCP Client. Most importantly, use the year of the query date as the name of the sheet name.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -628,
        -520
      ],
      "id": "883a2067-9587-4f6d-a644-301eabca7429",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -600,
        -300
      ],
      "id": "a8705b26-e5b2-4e4e-b285-94e9270b193d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "=- **Create Record**:\n    * **Purpose**: To log a new financial transaction.\n    * **Use When**: The user's message explicitly starts with \"紀錄\" (record) or \"record\", and provides details indicating a new expense such as an **amount**, a **category** (e.g., food, travel, utilities), a **date**, or a **merchant**. **If the message does not begin with \"紀錄\" or \"record\", this tool should NOT be used, even if expense details are present.**\n    * **Examples**: \"紀錄 今日食飯洗咗$100\", \"Record $50 on coffee today\", \"紀錄 交通費$30 五月廿九號\", \"Record utilities for $100 on May 28th.\"",
        "workflowId": {
          "__rl": true,
          "value": "Xi795rCEEUij9lbS",
          "mode": "list",
          "cachedResultName": "Create Record Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -480,
        -300
      ],
      "id": "7dac0032-f9f7-47ca-b120-a078aa8e5bac",
      "name": "Create Record",
      "executeOnce": true
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.thedg.agency/mcp/1fb8233e-d0cd-4871-a1b7-4420637c0bf0/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -360,
        -300
      ],
      "id": "f160c105-ba69-452c-8922-51e81ee317e5",
      "name": "MCP Client",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "617798358",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -260,
        -520
      ],
      "id": "2397be9d-c4f8-4ebd-81bd-8b341e1f8aed",
      "name": "Telegram",
      "webhookId": "117dcaae-d7d9-41f8-aa24-2a502a2d38ba",
      "credentials": {
        "telegramApi": {
          "id": "X3xyCkYhphdeXFbK",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "grok-3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -760,
        -300
      ],
      "id": "41cb4c0a-5c1c-4566-a6db-3df62141bc14",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "XqWvMQGpHLIcMAN0",
          "name": "xAi account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Record": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "task": "record",
          "amount": 3200,
          "category": "other",
          "date": "2025-05-29T00:00:00.000-04:00"
        }
      }
    ]
  },
  "versionId": "dac2941b-3f25-482a-a258-4cd011ded7de",
  "triggerCount": 0,
  "tags": []
}