my-workflow-5-.json
{
  "createdAt": "2025-06-06T05:57:46.573Z",
  "updatedAt": "2025-06-06T05:59:34.000Z",
  "id": "FfqT7B0Ax3CpA7kW",
  "name": "My workflow 5",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "==You are an intelligent routing agent for a personal digital assistant. Your main task is to accurately classify incoming user messages and route them to the most appropriate specialized sub-agent for processing.\n\nAvailable Sub-Agents:\n\n1.  **Expenses Agent**:\n    * **Description**: This agent is designed to manage all financial expense-related tasks.\n    * **Capabilities**:\n        * **Recording Expenses**: Captures details of new financial transactions (e.g., amount, category like food/travel/utilities, date, merchant, description).\n        * **Generating Reports**: Provides summaries or detailed reports of past expenses, filterable by criteria such as category, time period (e.g., \"today\", \"last month\", \"this year\"), or other parameters.\n    * **Keywords/Phrases**: Look for terms related to money spent, costs, bills, spending, budget, expenses, reports, summaries, tracking, recording, adding, analyzing, etc. (e.g., \"spent $50\", \"record food expense\", \"how much did I spend\", \"expense report\", \"add bill\", \"我洗左幾多錢\", \"記錄開支\", \"費用報告\").\n\n2.  **Calendar Agent**:\n    * **Description**: This agent manages tasks related to scheduling, events, and calendar interactions. It assumes user-provided times are in **UTC+8 timezone** by default, unless another timezone or region is explicitly mentioned. All processed times for calendar operations will be **converted to UTC** for internal consistency.\n    * **Capabilities**:\n        * **Creating Events/Tasks**: Adds new entries to a calendar (e.g., meetings, reminders, appointments).\n        * **Retrieving Events/Tasks**: Fetches information about existing events or tasks (e.g., \"What's on my schedule?\", \"When is my next meeting?\").\n        * **Modifying Events/Tasks**: Updates existing calendar entries (e.g., changing time, date, or details of a meeting).\n    * **Keywords/Phrases**: Look for terms related to calendar, schedule, event, meeting, appointment, reminder, add to calendar, create event, what's my agenda, list events, update event, change meeting, \"行事曆\", \"日程\", \"會議\", \"提醒\", \"更改活動\", \"修改日程\".\n\nToday's date is: {{ $now }}\n\nInstructions for Routing:\n1.  Carefully analyze the user's JSON text message: {{ $json.text }}\n2.  Determine the primary intent of the message.\n3.  **If the message's intent is clearly related to managing financial expenses (either recording or reporting), always call the 'Expenses Agent' tool.**\n    * **If the message is about recording an expense (e.g., mentions an amount and an item/category, or an instruction to 'add'/'record'), call the 'Expenses Agent' tool with `task: \"record\"`.** Examples: \"Spent $25 on coffee\", \"Record 150 for dinner\", \"Add a travel expense of $500\", \"我食飯洗左$100\", \"記低今日開支\".\n    * **If the message is about generating an expense report (e.g., asks for a summary, total spending, or spending by category/time period), call the 'Expenses Agent' tool with `task: \"report\"`.** Examples: \"How much did I spend this month?\", \"Show me my expenses for last week\", \"Report on food spending\", \"今個月用咗幾多錢？\", \"我上個月開支報告\", \"所有費用總結\".\n4.  **If the message's intent is clearly related to calendar, scheduling, or events (creating, retrieving, or modifying), always call the 'MCP Client' tool with the task \"calendar\".**\n    * **Examples**: \"Add a meeting to my calendar tomorrow at 10 AM\", \"What's on my schedule for next week?\", \"Remind me to call John at 3 PM\", \"幫我加個會議\", \"我聽日有咩行程？\", \"修改下星期三的會議時間\", \"把我的牙醫預約改到下個月\"\n    * **Tool Call Example**: `MCP Client({ \"task\": \"calendar\" })`\n5.  If the message does not clearly align with the 'Expenses Agent's or 'Calendar Agent's capabilities, or is ambiguous, return a JSON object with an error message: `{\"error\": \"Please clarify your request. I can help with managing your expenses and calendar.\"}`\n\nRules:\n* Default to the current date ({{ $today }}) if no specific date is mentioned for an expense or calendar event.\n* Prioritize explicit instructions over general keywords.\n* Always use the same language of the query for sending message to telegram",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "9a214678-c902-475b-8a44-e0d8343f3c45",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "=This is responsible for handling workflows related to financial expenses, specifically focusing on the following two tasks:\n\nRecording Expenses: Capturing details of financial transactions, including amount, category (e.g., food, travel, utilities), date, and merchant.\n\nGenerating Reports: Creating summaries or detailed reports of expenses, filtered by criteria such as category, time period, or other parameters.",
        "workflowId": {
          "__rl": true,
          "value": "Id1NS0Vxu4LuHReH",
          "mode": "list",
          "cachedResultName": "Expense Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        180,
        220
      ],
      "id": "94d6caea-a682-4d79-9da2-65106b42afbd",
      "name": "Expenses Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        60,
        220
      ],
      "id": "c93d09f6-d63a-46f7-828f-a32f8229bffe",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "1e00fdab-a2f1-4618-95cb-d30c1bb83787",
      "name": "Receive User Input (Telegram)\t",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -940,
        0
      ],
      "webhookId": "19e39057-373f-4ca7-b999-c747d5f71767",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "X3xyCkYhphdeXFbK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c64b00ea-20f1-4d44-aed6-1528d537fc84",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.message.voice.mime_type }}",
              "rightValue": "audio/ogg"
            }
          ]
        },
        "options": {}
      },
      "id": "3eedd530-02ee-4c0f-ab89-5f324cfc8c05",
      "name": "Is Voice Message?\t",
      "type": "n8n-nodes-base.if",
      "position": [
        -720,
        0
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "acdce8e0-83c2-47c8-9388-0912a738331c",
      "name": "Download Voice File\t",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -500,
        -100
      ],
      "webhookId": "1e904d77-b0a3-41ac-8624-a729103c9a14",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "X3xyCkYhphdeXFbK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "63158ffc-d79f-4965-a11e-0fed90398fbc",
      "name": "Transcribe Voice to Text\t",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -280,
        -100
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "NUICx7NPWNNMbCtK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41b525e6-a59f-47c7-b6ee-2b88eaa386fe",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4cc3465-4d08-478a-9a67-640f1f2d3a1c",
      "name": "Extract Text Message\t",
      "type": "n8n-nodes-base.set",
      "position": [
        -280,
        100
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "617798358",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        760,
        0
      ],
      "id": "470206ce-4c01-4b95-a2c1-7535f8f60739",
      "name": "Telegram",
      "webhookId": "ca6d7dee-9a37-4f0f-8f76-f1edfbdbcdb0",
      "credentials": {
        "telegramApi": {
          "id": "X3xyCkYhphdeXFbK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "=This is responsible for handling workflows related to calendar and events. Including create, update, get or delete any events",
        "workflowId": {
          "__rl": true,
          "value": "uIGbyKF2q0QMYFhm",
          "mode": "list",
          "cachedResultName": "Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        300,
        220
      ],
      "id": "a2d7c92e-fd69-4a57-b077-1bd699b0415f",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "model": "grok-3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -60,
        220
      ],
      "id": "896fd1f0-47b4-42da-849e-8ecf6a64c951",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "XqWvMQGpHLIcMAN0",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "617798358",
        "text": "=Processing...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -160
      ],
      "id": "8a1ff078-6f95-4c53-a49f-fed7e3cae9f1",
      "name": "Telegram1",
      "webhookId": "ca6d7dee-9a37-4f0f-8f76-f1edfbdbcdb0",
      "credentials": {
        "telegramApi": {
          "id": "X3xyCkYhphdeXFbK",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expenses Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Receive User Input (Telegram)\t": {
      "main": [
        [
          {
            "node": "Is Voice Message?\t",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice Message?\t": {
      "main": [
        [
          {
            "node": "Download Voice File\t",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text Message\t",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File\t": {
      "main": [
        [
          {
            "node": "Transcribe Voice to Text\t",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice to Text\t": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Message\t": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "21466b16-55e8-4031-ba54-c3180a4f42a4",
  "triggerCount": 0,
  "tags": []
}